<div class="partner content">
    <div class="partnerwrapper">
        <h2>Partners</h2>
        <p>These are the companies and people we choose to work with, and recommend.</p>
        <div class="grid-4-columns">
<!-- Partner 1 -->
<div class="partnerwrapper"> 
    <div class="partnerwrapperbox fade-in">
    <div class="partnerlogos">
        <a href="https://mysolarite.com.au/" target="_blank" rel="noopener" title="Solarite Solar & Electrical"><img src="/img/partners/mysolarite-logo_transparent.png" height="300px" width="400px" alt="Solarite Solar & Electrical" title="Solarite Solar & Electrical"></a>
    </div>
    <div class="partnertitle">
        <h4><a href="https://mysolarite.com.au/" target="_blank" rel="noopener" title="Solarite Solar & Electrical">Solarite Solar & Electrical</a></h4>
    </div>
</div>
</div>
<!-- Partner 2 -->

<!-- Partner 3 -->
    </div>
    </div>