<div class="partner content fade-in">
    <div class="partnerwrapper">
        <h2>Partners</h2>
        <div class="grid-4-columns">

<div class="partnerwrapper"> 
    <div class="partnerlogos">
        <a href="https://mysolarite.com.au/" target="_blank" rel="noopener" title="Solarite Solar & Electrical"><img src="/img/partners/mysolarite-logo_transparent.png" alt="Solarite Solar & Electrical" title="Solarite Solar & Electrical"></a>
    </div>
    <div class="partnertitle">
        Solarite Solar & Electrical
    </div>
</div>

    </div>
    </div>