<header id="header" class="topbar headerwrapper">
<div class="hamburger"><div class="toggle-nav" aria-label="Toggle Navigation">
<span class="hamburger-icon"></span>
</div></div>
<div class="logo"><a href="/" title="Return to the homepage | PrestigePro Property Services" id="logo">
<img src="/img/prestigepropropertyservices-logo-397x397.jpg" alt="PrestigePro Property Services" title="PrestigePro Property Services" width="408px" height="auto">
 </a></div>
<div class="navwrapper">
{% include "components/nav-top.njk" %}
</div>
<div class="socialwrapper">
<ul class="menusocial">
{% include "components/global/phone.html" %}
</ul>
</div>
</header>