<section class="sliderbox hide-for-print">
<div class="hero"></div>
<div class="hero" style="background: url(https://ik.imagekit.io/webtactics/PrestigePro/tr:w-1400,h-933/prestige-surf-1_5pdKJG-r2.jpg?updatedAt=1709849628922) no-repeat center center;background-size: cover;background-attachment:fixed;"></div>
</section>
