{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
<li{% if entry.url == page.url %} class="active-class"{% endif %}>
<a href="{{ entry.url }}" title="{{ entry.title }}" alt="{{ entry.title }}">{{ entry.title }}</a>

  {% if entry.url == "/services/" %}
<ul class="second-level">
<li><a href="/legal-services/criminal-law-services/">Criminal Law</a></li>
</ul>
{% endif %}

</li>
{%- endmacro %}
<ul class="off-canvas-list">
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>



