<nav class="offcanvas">
<button class="close-nav">Close X</button>
<h3>Menu</h3>
<div class="mobilemenu">
{% include "components/nav-side.njk" %}
<div class="mobilesocialwrapper">
<ul class="menusocial">
<li><a title="Call PrestigePro Property Services" alt="Call PrestigePro Property Services" href="tel:+61427892240">
<img src="/img/phone.svg" alt="Call PrestigePro Property Services" title="Call PrestigePro Property Services"><span class="phonetext">0427 892 240</span></a>
</li>
</ul>
</div>
</div>
</nav>