{% extends "layouts/default.njk" %}


{% block header %}
<body class=" {{ class }} " >
{% include "components/header.njk" %}
{% include "components/off-canvas.njk" %}
{% endblock %}

{% block hero %}
{% include "components/hero.njk" %}
{% endblock %}

{% block content %}
<div class="caption-text"><h1><span>{{ title }}</span></h1></div>
<main class="content">  

{{ layoutContent | safe }}


</main>
{% endblock %}

